<table class="table table-bordered table-responsive">
    <tbody>
        <tr>
            <th scope="row" class="stat-item table-light">HOYO</th>
            <td id="(HOYO,0)" class="cell"> - </td>
            <td id="(HOYO,1)" class="cell"> - </td>
            <td id="(HOYO,2)" class="cell"> - </td>
            <td id="(HOYO,3)" class="cell"> - </td>
            <td id="(HOYO,4)" class="cell"> - </td>
            <td id="(HOYO,5)" class="cell"> - </td>
            <td id="(HOYO,6)" class="cell"> - </td>
            <td id="(HOYO,7)" class="cell"> - </td>
            <td id="(HOYO,8)" class="cell"> - </td>
            <td id="(HOYO,9)" class="cell"> - </td>
            <td id="(HOYO,10)" class="cell"> - </td>
            <td id="(HOYO,11)" class="cell"> - </td>
            <td id="(HOYO,12)" class="cell"> - </td>
            <td id="(HOYO,13)" class="cell"> - </td>
            <td id="(HOYO,14)" class="cell"> - </td>
            <td id="(HOYO,15)" class="cell"> - </td>
            <td id="(HOYO,16)" class="cell"> - </td>
            <td id="(HOYO,17)" class="cell"> - </td>
        </tr>
        <tr>
            <th scope="row" class="stat-item table-light">PAR</th>
            <td id="(PAR,0)" class="cell"> - </td>
            <td id="(PAR,1)" class="cell"> - </td>
            <td id="(PAR,2)" class="cell"> - </td>
            <td id="(PAR,3)" class="cell"> - </td>
            <td id="(PAR,4)" class="cell"> - </td>
            <td id="(PAR,5)" class="cell"> - </td>
            <td id="(PAR,6)" class="cell"> - </td>
            <td id="(PAR,7)" class="cell"> - </td>
            <td id="(PAR,8)" class="cell"> - </td>
            <td id="(PAR,9)" class="cell"> - </td>
            <td id="(PAR,10)" class="cell"> - </td>
            <td id="(PAR,11)" class="cell"> - </td>
            <td id="(PAR,12)" class="cell"> - </td>
            <td id="(PAR,13)" class="cell"> - </td>
            <td id="(PAR,14)" class="cell"> - </td>
            <td id="(PAR,15)" class="cell"> - </td>
            <td id="(PAR,16)" class="cell"> - </td>
            <td id="(PAR,17)" class="cell"> - </td>
        </tr>
        <tr>
            <th scope="row" class="stat-item table-light">VENTAJA</th>
            <td id="(VENTAJA,0)" class="cell"> - </td>
            <td id="(VENTAJA,1)" class="cell"> - </td>
            <td id="(VENTAJA,2)" class="cell"> - </td>
            <td id="(VENTAJA,3)" class="cell"> - </td>
            <td id="(VENTAJA,4)" class="cell"> - </td>
            <td id="(VENTAJA,5)" class="cell"> - </td>
            <td id="(VENTAJA,6)" class="cell"> - </td>
            <td id="(VENTAJA,7)" class="cell"> - </td>
            <td id="(VENTAJA,8)" class="cell"> - </td>
            <td id="(VENTAJA,9)" class="cell"> - </td>
            <td id="(VENTAJA,10)" class="cell"> - </td>
            <td id="(VENTAJA,11)" class="cell"> - </td>
            <td id="(VENTAJA,12)" class="cell"> - </td>
            <td id="(VENTAJA,13)" class="cell"> - </td>
            <td id="(VENTAJA,14)" class="cell"> - </td>
            <td id="(VENTAJA,15)" class="cell"> - </td>
            <td id="(VENTAJA,16)" class="cell"> - </td>
            <td id="(VENTAJA,17)" class="cell"> - </td>
        </tr>
        <tr>
            <th scope="row" class="stat-item table-light text-primary">AZULES</th>
            <td id="(AZULES,0)" class="cell"> - </td>
            <td id="(AZULES,1)" class="cell"> - </td>
            <td id="(AZULES,2)" class="cell"> - </td>
            <td id="(AZULES,3)" class="cell"> - </td>
            <td id="(AZULES,4)" class="cell"> - </td>
            <td id="(AZULES,5)" class="cell"> - </td>
            <td id="(AZULES,6)" class="cell"> - </td>
            <td id="(AZULES,7)" class="cell"> - </td>
            <td id="(AZULES,8)" class="cell"> - </td>
            <td id="(AZULES,9)" class="cell"> - </td>
            <td id="(AZULES,10)" class="cell"> - </td>
            <td id="(AZULES,11)" class="cell"> - </td>
            <td id="(AZULES,12)" class="cell"> - </td>
            <td id="(AZULES,13)" class="cell"> - </td>
            <td id="(AZULES,14)" class="cell"> - </td>
            <td id="(AZULES,15)" class="cell"> - </td>
            <td id="(AZULES,16)" class="cell"> - </td>
            <td id="(AZULES,17)" class="cell"> - </td>
        </tr>
        <tr>
            <th scope="row" class="stat-item table-light"><span id="stat-item-blancas">BLANCAS</span></th>
            <td id="(BLANCAS,0)" class="cell"> - </td>
            <td id="(BLANCAS,1)" class="cell"> - </td>
            <td id="(BLANCAS,2)" class="cell"> - </td>
            <td id="(BLANCAS,3)" class="cell"> - </td>
            <td id="(BLANCAS,4)" class="cell"> - </td>
            <td id="(BLANCAS,5)" class="cell"> - </td>
            <td id="(BLANCAS,6)" class="cell"> - </td>
            <td id="(BLANCAS,7)" class="cell"> - </td>
            <td id="(BLANCAS,8)" class="cell"> - </td>
            <td id="(BLANCAS,9)" class="cell"> - </td>
            <td id="(BLANCAS,10)" class="cell"> - </td>
            <td id="(BLANCAS,11)" class="cell"> - </td>
            <td id="(BLANCAS,12)" class="cell"> - </td>
            <td id="(BLANCAS,13)" class="cell"> - </td>
            <td id="(BLANCAS,14)" class="cell"> - </td>
            <td id="(BLANCAS,15)" class="cell"> - </td>
            <td id="(BLANCAS,16)" class="cell"> - </td>
            <td id="(BLANCAS,17)" class="cell"> - </td>
        </tr>
        <tr>
            <th scope="row" class="stat-item table-light text-danger">ROJAS</th>
            <td id="(ROJAS,0)" class="cell"> - </td>
            <td id="(ROJAS,1)" class="cell"> - </td>
            <td id="(ROJAS,2)" class="cell"> - </td>
            <td id="(ROJAS,3)" class="cell"> - </td>
            <td id="(ROJAS,4)" class="cell"> - </td>
            <td id="(ROJAS,5)" class="cell"> - </td>
            <td id="(ROJAS,6)" class="cell"> - </td>
            <td id="(ROJAS,7)" class="cell"> - </td>
            <td id="(ROJAS,8)" class="cell"> - </td>
            <td id="(ROJAS,9)" class="cell"> - </td>
            <td id="(ROJAS,10)" class="cell"> - </td>
            <td id="(ROJAS,11)" class="cell"> - </td>
            <td id="(ROJAS,12)" class="cell"> - </td>
            <td id="(ROJAS,13)" class="cell"> - </td>
            <td id="(ROJAS,14)" class="cell"> - </td>
            <td id="(ROJAS,15)" class="cell"> - </td>
            <td id="(ROJAS,16)" class="cell"> - </td>
            <td id="(ROJAS,17)" class="cell"> - </td>
        </tr>
    </tbody>
</table>
