
:root{
    /* Variables */
    --main_color: rgb(82,161,45);
    --main_color_gradient: linear-gradient(to right, rgb(28, 152, 93), rgb(34, 197, 94), rgb(28, 152, 93));
    --navbar_color_gradient: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(27,25,25,1) 35%, rgba(27,25,25,1) 65%, rgba(0,0,0,1) 100%);
}
body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#main-content{

    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: auto;
}

#nav-bar{
    flex-grow: 0;
}


@keyframes loading-bar-animation{

    from{
        width: 0%;

    }
    to{
        width: 100%;

    }
}

.loading-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 5px; /* Ajusta la altura según tus preferencias */
    background: var(--main_color_gradient); /* Cambia el color de fondo según tus preferencias */
    z-index: 1031; /* Asegúrate de que esté por encima de otros elementos */
    display: block; /* Oculta la barra de carga inicialmente */
}

.loading-bar-animation-class{
    animation:  loading-bar-animation 1000ms ;
    animation-name: loading-bar-animation;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
}
