
#register-login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 450px;
  
  margin-top: 1%;
  margin-bottom: 1%;

  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  transition: all 500ms ease;
}

.form-container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 64px);
  width: 900px;
  flex-grow: 1;
  transition: all 500ms ease;
}
.general-form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}


.input-group-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.input-group-form-register{
  height: 60%;
}
.input-group-form-login{
  height: 30%;
}

.input-box{
  position: relative;
  display: inline-block;
  width: 75%;
  height: 40px;
}
.input-box > input{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px 11px 11px 11px;

  border: none;
  outline: none;
  background-color: transparent;
  color: #2b3035;
  font-size: 1em;
}
.input-box::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid;
  border-image: var(--navbar_color_gradient);
  border-image-slice: 1;
  transition: border-image 200ms ease;
}
.input-box:hover::before,
.input-box:focus-within::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 3px solid;
  border-image: var(--main_color_gradient);
  border-image-slice: 1;

}

.input-box > input:valid{
  font-weight: 500;
}

.input-box > span{
  
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  outline: 2px solid transparent;
  font-size: 0.85em;
  border-radius: 5px;
  pointer-events: none;
  color: black;
  transition: transform 200ms ease;
}

.input-box > input:focus ~ span{
  transform: translate(0,-31px);
  padding: 0px 5px; 
  background: var(--main_color_gradient);
  outline-color: var(--main_color);
  font-weight: 400;
  color: black;
}
.input-box > input:valid ~ span:not(.input-box > input:focus ~ span){
  transform: translate(0,-31px);
  padding: 0px 4px; 
  font-size: 0.85em;
  outline-color: black;
  background-color: black;
  color: white;
}

.input-box > input:valid:hover ~ span:not(.input-box > input:focus ~ span){
  background: var(--main_color_gradient);
  outline-color: var(--main_color);
  color: black;
}

.submit-button {
  font-family: 'Argent CF Extra Bold', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--navbar_color_gradient);
  color: white;
  font-size: 20px;
  cursor: pointer;
  opacity: 100%;
  
}

.submit-button:hover {
  background: var(--main_color_gradient);
  color: black;
  opacity: 90%;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

#form-title-img{
  border-radius: 8px;
  width: 250px;
  height: auto;
}

#register-login-switch{
  font-family: 'Argent CF Extra Bold', sans-serif;
  display: flex;
  justify-content: center;
  width: 320px;
  height: 44px;
  margin-top: 20px;
  position: relative;
  box-shadow: 0 0 11px -2px var(--main_color);
  border-radius: 30px;
}
#beautifier-button{
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  background: var(--main_color_gradient);
  border-radius: 30px;
  transition: 500ms;
}
.switch-button{
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#login-button-switch{
  border-radius: 100px 0px 0px 100px;
}
#register-button-switch{
  border-radius: 0px 100px 100px 0px;
}




@media (max-width: 450px) {
  #register-login-container {
    width: 95%;
  }
}

