@font-face {
    font-family: 'Argent CF Extra Bold';
    src: url('/src/assets/fonts/ArgentCF-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/ArgentCF-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
.navbar{
    font-family: 'Argent CF Extra Bold', sans-serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(27,25,25,1) 35%, rgba(27,25,25,1) 65%, rgba(0,0,0,1) 100%);
}
#nav-bar-logo{
    width: 100px;
    padding-right: var(--bs-navbar-nav-link-padding-x)
}

.container-fluid{
    margin-right: 50px;
}