@font-face {
    font-family: 'Argent CF Extra Bold';
    src: url('/src/assets/fonts/ArgentCF-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/ArgentCF-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
.navbar{
    font-family: 'Argent CF Extra Bold', sans-serif;
    background: var(--navbar_color_gradient);
}
#nav-bar-logo{
    width: 100px;
    padding-right: var(--bs-navbar-nav-link-padding-x)
}

.container-fluid{
    margin-right: 50px;
}
.nav-item.dropdown{
    display: none;
}