#perfil_container {
  display: none;
  align-items: center;
  width: 80%;
}

.card.mb-3 {
  width: 100%;
}
#card-footer{
  display: flex;
  flex-direction: column;

  margin-top: 11px;
  gap: 11px;
}
#button-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
#relationship-status-button{
  display: block;
  font-family: 'Argent CF Extra Bold', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--relationship-status-button-color);

  font-size: 20px;
  cursor: pointer;

  width: 290px;
  
}
#relationship-status-button:hover {
  background: var(--relationship-status-button-hover-color);
  color: black;
  opacity: 90%;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}
