
#players-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2%;
}
#searcher-container{
    width: 70%;
}
#list-of-players-container{
    width: 70%;
    border-radius: 0.375rem;
}
@media (max-width: 992px) {
    #list-of-players-container {
      width: 100%;
    }
    #searcher-container{
        width: 100%;
    }
}
.list-group{
    --bs-list-group-action-hover-color: black; 
    --bs-list-group-action-hover-bg: #e9ecef;
}
 .list-group-item{
    display: flex;
    flex-direction: row;
} 
.list-group-item:hover{
    outline-color: darkblue;
    outline-width: 1px;
    outline-style: solid;
} 
#user-icon-container{
    width: 80px;
    height: 80px;
    margin-right: var(--bs-list-group-item-padding-x);
}

#user-icon-svg{
    width: 80px;
    height: 80px;
}
 #item-data{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
} 
#item-ranking{
    color: rgb(0, 0, 111)!important;
}