



  <h1>Ingrese los puntajes de golf</h1>
  <form id="golf-scores">

    <div id="inputs">
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="Hoyo 1" id ="Hoyo_1" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 2" id ="Hoyo_2" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 3" id ="Hoyo_3" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 4" id ="Hoyo_4" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 5" id ="Hoyo_5" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 6" id ="Hoyo_6" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 7" id ="Hoyo_7" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 8" id ="Hoyo_8" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 9" id ="Hoyo_9" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 10" id ="Hoyo_10" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 11" id ="Hoyo_11" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 12" id ="Hoyo_12" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 13" id ="Hoyo_13" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 14" id ="Hoyo_14" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 15" id ="Hoyo_15" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 16" id ="Hoyo_16" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 17" id ="Hoyo_17" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
          <div class="input-group mb-3">
    
            <input type="text" class="form-control" placeholder="Hoyo 18" id ="Hoyo_18" aria-label="Recipient's username" aria-describedby="button-addon2"> 
          </div>
    </div>



    <button type="submit" class="submit-button">Enviar Puntajes</button>
  </form>


