<div class="container">

    <div class="header">
        <h1 class="card-title">Partidas creadas</h1>
        <p class="card-text">Estas son las partidas que se han jugado.</p>
    </div>

    <div id="searcher-container"></div>
    
      <div class="modal-body">
        <!-- Lista dentro del cuerpo del modal -->
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Partida 1
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item">Fecha: </li>
                  <li class="list-group-item">Cancha: </li>
                  <li class="list-group-item">Tipo de juego: </li>
                  <li class="list-group-item">Puntaje: </li>
                  <li class="list-group-item">Resultado: </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
           
        </div>
      </div>
    
</div>