<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Estadísticas y registro de partidas de Golf">
    <link rel="icon" type="image/png" href="/src/assets/Golf logos/nav_bar_logo/version_3/Favicons/golf.png">
    <title>Document</title>
    
  </head>
  <body>

    <div class="loading-bar">

    </div>

    <section id="nav-bar">
      
    </section>

    <main id="main-content">
      
    </main>

  </body>
</html>
