<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
  </head>
  <body>
    <div class="login-register-container">
      <form id="login-form">
        <label for="username">Email</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
      </form>
      <p>¿No tienes una cuenta? <a href="#">Registrate aquí</a></p>
    </div>
  </body>
</html>