<div id="register-login-switch">
  <div id="beautifier-button"> </div>

  <button id="login-button-switch" class="switch-button" type="button">Iniciar sesión</button>
  <button id="register-button-switch" class="switch-button" type="button">Crear cuenta</button>
</div>

<div class="form-container">
  <form id="login-form" class="general-form">
    <img
      id="form-title-img"
      src="/src/assets/Golf logos/Login/Color logo - no background.svg"
      alt="Logo"
    />
    <div class="input-group-form input-group-form-login">

      <div class="input-box">
        <input type="text" name="email" autocomplete="email" required />
        <span>Email</span>
      </div>

      <div class="input-box">
        <input type="password" name="password" required />
        <span>Contraseña</span>
      </div>

    </div>

    <button id="SubmitLoginButton" type="submit" class="submit-button">Iniciar sesión</button>
  </form>

  <form id="register-form" class="general-form">
    <img
      id="form-title-img"
      src="/src/assets/Golf logos/Register/Color logo - no background.svg"
      alt="Logo"
    />
    <div class="input-group-form input-group-form-register">

      <div class="input-box">
        <input type="text" name="email" autocomplete="email" required />
        <span>Email</span>
      </div>

      <div class="input-box">
        <input type="text" name="username" autocomplete="username" required />
        <span>Nombre de usuario</span>
      </div>

      <div class="input-box">
        <input type="password" name="password" required />
        <span>Contraseña</span>
      </div>

      <div class="input-box">
        <input type="password" name="repeated_password" required />
        <span>Repite la Contraseña</span>
      </div>

    </div>

    <button id="submit-register-button" type="submit" class="submit-button">Crear cuenta</button>

  </form>
</div>