
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/src/assets/userIcon/user.svg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 id="username-item" data-info="1" class="card-title">Hola </h5>
          <ul class="list-group">
            <li id="email-item" class="list-group-item">Correo: </li>
            <li id="handicap-item" class="list-group-item">Handicap: </li>
            <li id="description-item" class="list-group-item">Descripción: </li>
          </ul>
          <div class="card-body">
            <button href="#" class="btn btn-primary">Ver estadísticas</button>
        </div>
        </div>
      </div>
    </div>
  </div>
