
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img class="rounded me-2" id="toast-image" src="/src/assets/Golf logos/nav_bar_logo/version_3/Favicons/golf.png" alt="...">
        <strong id="toast-title" class="me-auto">Registro</strong>
        <small>justo ahora</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Registro exitoso. Ahora inicie sesión.
      </div>
    </div>
  </div>